<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>360301876438-2vjsh9i7eahg92ujcatnm834jeil4gh3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.360301876438-2vjsh9i7eahg92ujcatnm834jeil4gh3</string>
	<key>API_KEY</key>
	<string>AIzaSyBjUL3b_yH_XQJioVDaJ54GAZYQmlRp5oU</string>
	<key>GCM_SENDER_ID</key>
	<string>360301876438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tecsup.poke.tinder.b</string>
	<key>PROJECT_ID</key>
	<string>instaapp-fe3a6</string>
	<key>STORAGE_BUCKET</key>
	<string>instaapp-fe3a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360301876438:ios:b81d018121b42f6259e577</string>
</dict>
</plist>